@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;800&display=swap);

$main-color:   #1a5588;
$second-color: #349ac1; 
$spacing--full: 2rem;
$spacing--half: 1rem;
$main-padding--quarter: 0  5rem 0 0.5rem;

$maven: 'Maven Pro';   

body {
    max-width: 2000px;
    font-family: $maven;
    background: #edf3ff;

    header {
        padding: 1rem 1rem 6rem;
        font-weight: 800;
    
        .brand {
            font-size: 4rem;
            color: $main-color;
            }
      }

    .animated {
        color: $main-color;
        cursor: pointer;
        display: block;
        text-align: center;
        position: relative;
        border: 2px solid $second-color;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    
        &:before {
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            width: 0px;
            z-index: -1;
            content: '';
            color: #fff !important;
            background: $main-color;
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
        }
    
        &:hover {
            color: #fff !important;
            background-color: transparent;
    
            &:before {
                left: 0%;
                right: auto;
                width: 100%;
                }
            }
    }

    .table {
        .thead-dark th {
            color: #fff;
            background-color: $main-color;
            border-color: $second-color;
        }

        .btn {
            border-radius: 2rem;
            height: 48px;
            line-height: 2;
        }

        .btn-danger {
            background-color: #921e29;
        }

        .btn-success {
            background-color: $second-color;
            margin-right: 10px;
        }

        th:last-child {
            width: 133px;
        }
    }

    blockquote {
        margin-top: 10rem;
    }

    input {
        border: 0;
        background-color: transparent;
        padding: $main-padding--quarter;
        outline: none;
        color: #5b9fdc;
        width: 100%;
        font-size: 1rem;
    }

    .form-control {
        height: calc(1.5em + .75rem + 20px);
        color: $main-color;
        background-color: #dce5f7;
        font-size: 1.5rem;
        border: 0;

        input {
            font-size: 1.5rem;
            line-height: 3rem;
            color: $main-color;
        }
}
    .vdpOuterWrap {
        font-size: 10px;
    }

    .vdpTimeUnit {
        width: 40px;
    }

    .spacing--full    { padding: $spacing--full; }
    .spacing--half    { padding: $spacing--half; margin: $spacing--half 0; }
}

@media (max-width: 768px) {
    .col-md-2 {
        margin-top: 5rem;
    }
    .animated {
        width: 100%;
    }
    
    .table {

        td {
            padding: 2rem 0 0 10px;
        }

        th:last-child,
        td:last-child {
            width: 75px !important;
        }

        td:nth-child(3) {
            width: 120px !important;
        }
        td:last-child {
            padding: 0.5rem;
        }

        .btn {
            margin: 6px;
        }

    }
}